*{
	margin: 0;
	padding: 0;
}
.bg{
	width: 700px;
	height: 700px;
	margin: 0px auto;
	background-image: url(../imgs/pic2.jpg);
	background-size: 650px 650px;
}
#grid {
	width: 651px;
    height: 651px;
    background-image:
        /*先画黑线*/
        linear-gradient(black 1px, transparent 0),
        linear-gradient(90deg, black 1px, transparent 0),
        /*再画灰线*/
        linear-gradient(#B8B8B8, 1px, transparent 0),
        linear-gradient(90deg, #B8B8B8 1px, transparent 0);
    /*设置横线和竖线格子大小*/
    background-size:  650px 650px, 650px 650px,25px 25px, 25px 25px;
    float: left;
    position: relative;
}
#row{
	width: 650px;
	height: 25px;
	list-style: none;
	margin-left: 26px;
}
#col{
	width: 25px;
	height: 650px;
	list-style: none;
	float: left;
}
ul li{
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: left;
}
#start{
	width: 400px;
	height: 50px;
	background-color: #FD9BBB;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px #FD9BBB;
	border-style: none;
	margin:10px 0 10px 10%;
}
.snakeBody{
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: #FD9BBB;
}
#block{
	position: relative;
}
#b_head{
	height: 10px;
	background-color: #C8C9CC;
}
#food{
	top: 200px;
	left: 200px;
}
/*分数和控制键*/
#score{
	width: 80px;
	height: 50px;
	color: #FD9BBB;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	margin-left: 5%;
	border: 1px solid red;
}
.top{
	width: 640px;
	margin: 10px auto;
}


/*.control{
	width: 30%;
	height: 200px;
	display: inline-block;
	position: relative;
}
#up{
	display: block;
	margin: 20px auto;
}
#right{
	float: right;
}
#down{
	display: block;
	margin: 20px auto;
}*/
/*----------三角形的画法-----------*/
.control span{
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}
/* 上 */
.san_shang {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #ff0066;
	
}
/* 下 */
.san_xia {
	width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
/* 左 */
.san_zuo {
	width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid #0066ff;
    border-bottom: 50px solid transparent;
    
}
/* 右 */
.san_you {
	width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid #0066ff;
    border-bottom: 50px solid transparent;
}