*{
	margin: 0;
	padding: 0;
}
/*总包裹层*/
#wrap{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}
/*背景图像*/
#bg_pic{
	width: 500px;
	height: 300px;
	/*透明度和高斯模糊*/
	/*opacity: 0.5;*/
	filter: blur(0px);
	transition: filter 1s;
}
/*外边框层*/
#floatLayer{
	width: 300px;
	height: 200px;
	position: absolute;
	top: 50px;
	left: 100px;
	font-size: 20px;
}
/*文字包裹层*/
#content{
	text-align: center;
	margin-top: 70px;
	opacity: 0;
	transition: all 1s; 
}
/*文字彩色效果*/
#welcome{
	/*设置一个两倍长的彩色背景，显示其中50%，位移另50%实现闪烁*/
	/*例：红，绿，红，绿，红， 显示前三个颜色，防止闪烁动画时出现明显的颜色分界*/
	background-image: -webkit-linear-gradient(left,#D81159 0%, #30A9DE 30%,#D81159 50%, #30A9DE 80%, #D81159 100%);
	/*全彩背景*/
	/*background-image: -webkit-linear-gradient(left,#D81159, #E53A40 10%, #FFBC42 20%, #75D701 30%, #30A9DE 40%,#D81159 50%, #E53A40 60%, #FFBC42 70%, #75D701 80%, #30A9DE 90%,#D81159);*/  
	color:transparent;
  	-webkit-background-clip: text;
	/*两倍长背景*/
	background-size: 200% 100%;
	animation: flowlight 5s linear infinite;
}
#signUp{
	animation: colorchange 3s linear infinite;
}

/*纵向边框动画*/
#content:before {
	width:100%;
	height:0;	
	border:2px solid #fff;
	border-width: 0 2px; /*边框上下宽度为0 左右宽度为2px*/
	position: absolute;
	top:50%;
	left:0;
	box-sizing: border-box; /*去除边框缝隙*/
	content:''; /*不设置内容会撑不开不显示*/
	transition: all .8s;
}
#wrap:hover #content:before{
	height:100%;
	top:0;
}
/*横向边框动画*/
#content:after {
	width:0;
	height:100%;	
	border:2px solid #fff;
	border-width: 2px 0; /*边框上下宽度为0 左右宽度为2px*/
	position: absolute;
	top:0;
	left:50%;
	box-sizing: border-box; /*去除边框缝隙*/
	content:''; /*不设置内容会撑不开不显示*/
	transition: all .8s;
}
#wrap:hover #content:after {
	width: 100%;
	left:0;
}

/*hover控制的其他元素必须为子元素，兄弟元素会出现闪烁*/
/*背景虚化*/
#wrap:hover #bg_pic {
	filter: blur(3px);
}
/*文字移动和显示*/
#wrap:hover #content{
	margin-top: 50px;
	opacity: 1;
}

/*上部分文字闪烁动画*/
@keyframes flowlight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/*下部分文字渐变动画*/
@keyframes colorchange{
	0%{
		color: green;
	}
	50%{
		color: blue;
	}
	100%{
		color: green;
	}
}